.mar {
    margin: 20px;
    width: 400px;
    height: 500px;
    border: 2px solid black;
    text-align: center;
}

.text {
    font-size: 18px;
    font-weight: bold;
    ;
    padding: 10px;
    ;
}

.inp {
    width: 400px;
    margin: 10px;
    height: 30px;
    border: 2px solid black;
}

.cent {
    text-align: center;
}

.btn {
    height: 35px;
    width: 100px;
    font-weight: bold;
    background-color: aqua;
}